<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SanePharma </title>
        <link href="css/main.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
        
    </head>        
<body>

    
 <div class="container">
     
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SanePharma</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Dashboard</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products</a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Product</a></li>
            <li><a href="#">Update Product</a></li>
            <li><a href="#">Search</a></li>
          </ul>
        </li>
        
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Party</a>
          <ul class="dropdown-menu">
            <li><a href="#">Add Manufacturer</a></li>
            <li><a href="#">Add Stockist</a></li>
            <li><a href="#">Add Employee</a></li>
            <li><a href="#">Search</a></li>
            
          </ul>
        </li>
          
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales</a>
          <ul class="dropdown-menu">
            <li><a href="#">Invoice Entry</a></li>
            <li><a href="#">Create Bill Header</a></li>
            <li><a href="#">Sales/Market Return</a></li>
            <li><a href="#">Customer Wise Sales Return</a></li>
            
          </ul>
        </li>
        
          
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase</a>
          <ul class="dropdown-menu">
            <li><a href="#">Purchase Entry</a></li>
            <li><a href="#">Purchase Book</a></li>
            <li><a href="#">Product Wise purchase</a></li>
            <li><a href="#">Credit Note Entry</a></li>
            <li><a href="#">Debit Note Entry</a></li>
            <li><a href="#">Search</a></li>
            
          </ul>
        </li>
          
          
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
          <ul class="dropdown-menu">
            <li><a href="#">Print Stock Ledger</a></li>
            <li><a href="#">Print A/C ledger</a></li>
            <li><a href="#">Outstandings</a></li>
            <li><a href="#">Statements</a></li>
            <li><a href="#">Payment Reminder</a></li>
            
          </ul>
        </li>
          
          
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Report A Bug</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">About</a></li>
            
          </ul>
        </li>
          
        
      </ul>
    </div>
  </div>
</nav>
     
     <p>Welcome to you dashboard Admin</p>
     
     <div id="left-div">
     
     </div>
     
     <div id="right-div">
     
     </div>
     
  
</div>    
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    
</body>
</html>

